<div class="container">
  <div class="exercises-header">
    <h2>
      Exercises<span class="exercises-subheader-container"></span>
    </h2>
    <div class="exercises-filters-container">
      <form class="exercises-filters-form">
        <input class="frmExserciseSearch" type="text" name="keyword" placeholder="Search">
        <button class="search-button">
          <svg width="18" height="18">
            <use href="./img/sprite.svg#search"></use>
          </svg>
        </button>
      </form>
      <div class="filter-tabs">
        <button class="active" data-filter="Muscles">Muscles</button>
        <button data-filter="Body parts">Body parts</button>
        <button data-filter="Equipment">Equipment</button>
      </div>
    </div>
  </div>
  <div class="excercises">
    <div class="quote-content">
      <load src="partials/quote.html" />
    </div>
    <div class="main-content">
      <ul class="filters-output"></ul>
      <ul class="filter-pagination pagination"></ul>

      <div class="exercises-content">
        <ul class="exercises-list"></ul>
        <div class="pagination exercises-pagination"></div>
      </div>
    </div>
  </div>
</div>