<div class="container">
  <div class="exercises-header">
    <h2>
      Exercises
    </h2>
    <ul class="filter-tabs">
      <li class="active" data-filter="Muscles">Muscles</li>
      <li data-filter="Body parts">Body parts</li>
      <li data-filter="Equipment">Equipment</li>
    </ul>
  </div>
  <div class="excercises">
    <div class="quote-content">
      <load src="partials/quote.html" />
    </div>
    <div class="main-content">
      <ul class="filters-output"></ul>
      <ul class="filter-pagination"></ul>
    </div>
  </div>
</div>