<div class="container">
  <div class="hero">
    <div class="hero-text">
      <h1 class="hero-heading">
        <span class="icon-wrapper">
          <svg class="icon">
            <use xlink:href="/img/sprite.svg#sun"></use>
          </svg>
        </span>
        Get <em>Body</em> in<br />shape, Stay healthy
      </h1>
      <p>
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>

    <div class="hero-aside">
      <img
        src="/img/fitness_together.jpg"
        alt="Two women doing yoga"
        class="hero-thumb"
      />
      <ul class="hero-tags">
        <li class="hero-tag">#Sport</li>
        <li class="hero-tag">#Healthy</li>
        <li class="hero-tag">#Workout</li>
        <li class="hero-tag">#Diet</li>
      </ul>
    </div>

    <div class="hero-content">
      <picture class="hero-image">
        <source media="(min-width: 1025px)" srcset="/img/hero_desktop.jpg" />
        <source media="(min-width: 768px)" srcset="/img/hero_tablet.jpg" />
        <img src="/img/hero.jpg" alt="Two women training" />
      </picture>
    </div>
  </div>
</div>
