.main-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

h1 {
  color: #242424;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.09;
  letter-spacing: -0.88px;
}

.main-header-container-text {
  color: rgba(36, 36, 36, 0.5);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.48px;
}

/* Tabs */
.filter-tabs {
  display: flex;
  gap: 20px;
  padding-top: 14px;
}

.filter-tabs li {
  color: rgba(36, 36, 36, 0.6);
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.filter-tabs li.active {
  color: #000;
}

.filter-tabs li.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #242424;
  border-radius: 2px;
}

/* Cards grid */
.filters-output {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 16px;
  margin-bottom: 24px;
}

.filter-card {
  width: 290px;
  height: 242px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 12px;
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 0.5) 0%,
    rgba(17, 17, 17, 0.5) 100%
  );

  /* flex: 0 1 calc(25% - 16px);
  max-width: 250px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  position: relative;
  transition: transform 0.2s ease;
}

.filter-card img {
  position: absolute;
  height: 200px;
  object-fit: cover;
}

.filter-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.filter-name {
  font-weight: bold;
  font-size: 1.1em;
  text-transform: capitalize;
}

.filter-type {
  font-size: 0.9em;
  opacity: 0.8;
}

/* Pagination */
.filter-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: #d4d4d4;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.96px;
}

.filter-pagination .pagination-page {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.filter-pagination .pagination-page.active {
  color: #242424;
  border-radius: 18px;
  border: 1px solid #242424;
  width: 32px;
  height: 32px;
  text-align: center;
}

/* Responsive */
@media (max-width: 600px) {
  .filter-card {
    flex: 0 1 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .filter-card {
    flex: 0 1 calc(33.333% - 16px);
  }
}

@media (min-width: 1025px) {
  .filter-card {
    flex: 0 1 calc(25% - 16px);
  }
}
