.main-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

h1 {
  color: var(--color-dark-gray);
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.09;
  letter-spacing: -0.88px;
}

.main-header-container-text {
  color: rgba(36, 36, 36, 0.5);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.48px;
}

/* Filters form */
.exercises-filters-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exercises-filters-form {
  display: none;
  padding: 0;
  gap: 10px;

  border-radius: 30px;
  border: 1px solid var(--color-dark-gray);
}

.exercises-filters-form input {
  border: none;
  outline: none;
  background: transparent;

  color: var(--color-dark-gray);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xs);
  line-height: 1.42;
  padding: var(--indent-2) 0 var(--indent-2) var(--indent-4);
  width: 100%;
}

.exercises-filters-form input::placeholder {
  color: var(--color-dark-gray);
}

.exercises-filters-form button {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .exercises-filters-container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .exercises-filters-form {
    min-width: 210px;
  }
}

@media only screen and (min-width: 1025px) {
  .exercises-filters-container {
    margin-bottom: 0;
  }
}

/* Tabs */
.filter-tabs {
  display: flex;
  gap: var(--indent-5);
  margin: 0 0 var(--indent-5) 0;
}

.filter-tabs button {
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  line-height: var(--line-height-2xl);
  color: var(--color-dark-gray-60);
  position: relative;
  transition: color 0.3s ease;
  padding-bottom: var(--indent-1);
  line-height: 1.5;
}

.filter-tabs button.active {
  color: var(--color-dark-gray);
}

.filter-tabs button.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-color: var(--color-dark-gray);
  border-radius: var(--border-radius-xs);
}

/* Cards grid */
.filters-output {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-5);
}

.filter-card {
  border-radius: var(--border-radius-m);
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease;
  max-height: 225px;
  cursor: pointer;
}

@media only screen and (hover: hover) {
  .filter-card:hover {
    transform: scale(1.03);
  }
}
.filter-info {
  position: absolute;
  inset: 0;
  background: rgba(17, 17, 17, 0.5);
  color: var(--color-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.filter-name {
  font-size: var(--font-size-l);
  line-height: 1;
  text-transform: capitalize;
}

.filter-type {
  font-size: var(--font-size-xxs);
  opacity: 0.8;
  color: var(--color-light-gray-40);
  line-height: var(--line-height-3xl);
}

.search-button {
  padding-right: var(--indent-3);
}

/* Responsive */

@media only screen and (min-width: 768px) {
  .filters-output {
    row-gap: var(--indent-8);
    column-gap: var(--indent-4);
  }

  .filters-output .filter-card {
    width: calc((100% - 2 * var(--indent-4)) / 3);
  }

  .filter-name {
    font-size: var(--font-size-xl);
  }

  .filter-tabs li {
    font-size: var(--font-size-s);
    line-height: var(--line-height-3xl);
  }
}

.exercises-header {
  display: flex;
  gap: var(--indent-4);
  flex-direction: column;
}

.exercises-subheader {
  display: inline-block;
  color: var(--color-dark-gray-50);
  font-size: var(--font-size-xl);
  line-height: 1.33;
  letter-spacing: -0.48px;
  text-transform: capitalize;
}

@media only screen and (min-width: 768px) {
  .exercises-header {
    display: flex;
    gap: var(--indent-8);
  }
}

@media only screen and (min-width: 1025px) {
  .exercises-header {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: var(--indent-8);
    flex-direction: row;
  }

  .filter-tabs {
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .filter-card {
    max-height: 242px;
  }
}
